.nav-item:hover {
    color:darkred;
}
.logo-container > img {
    max-height: 100px;
}

.nav-menu {
    display: flex;
    padding-left: 500px;
	padding-top: 0px;
    align-items: center;
}

.nav-item {
    color: white;
    padding: 16px;
    text-decoration: none;
}

.nav-item:hover {
    color: darkred;
}
.input-container {
    float: left;
    height: 40px;
}

.text-info{

    color:darkred !important;
