.forum-col{
    min-width: 24px;
}
.topico-col{
    min-width: 24px;
}
.criado-col,
.recentes-col{
    min-width: 18px;
}

.seletorpages{
    padding-left: 650px;
}

#menusite{
    display: flex;
    padding-left: 200px;
    padding-top: -200px;
    align-items: center;
    color:darkred;

}
.nav-item {
    color: white;
    padding: 16px;
    text-decoration: none;
}

.nav-item:hover {
    color: #575aff;
}